{% extends "common.html"%}

{% block body %}

    <h1>Please provide login details</h1>

    <br>
    <form action="{{ url_for('mainPage') }}" method="post">
    <div class="container">
        <label ><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="sid" required>
        <br><br>
        <label ><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="sso" required>
        <br><br>
        <button>Submit</button>
    </div>
    </form>

{% endblock %}
