{% extends "common.html" %}

{% block body %}
        <h1>Welcome to Release application</h1>

        <h3>Logged in as {{ sid }}</h3>

        <p>Please select a process that you want to perform</p>

        <ul style="list-style-type:circle;">
            <li><a href="{{ url_for('branch_cut') }}">Branch Cut </a></li>
            <br>
            <li><a href="{{ url_for('release_notes') }}">Release notes </a></li>
            <br>
            <li><a href="{{ url_for('post_release') }}">Post Release Activities </a></li>
        </ul>
{% endblock %}
